/* Style global pour les titres */
.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#subtitle {
    color: #4a90e2;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

#CDI {
    background-color: blueviolet;
}

/* Container pour les infos personnelles */
.infoContainer {
    background-color: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 2rem;
    width: 700px;
    margin-bottom: 2rem;
    text-align: center;
}

/* Détails d'information */
.infoDetails {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    gap: 70px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoColumn:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

/* Liens sociaux */
.socialLinks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.socialLinks a {
    margin: 0 1rem;
    transition: transform 0.3s ease;
}

.socialLinks a:hover {
    transform: scale(1.2);
}

.link {
    color: #4a90e2;
}

/* Section À propos */
.aboutSection {
    background-color: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 2rem;
    width: 700px;
    margin-bottom: 2rem;
    text-align: left;
}
