.skillsPage {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.skillsCategory {
    background-color: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.skillsCategory h2 {
    font-size: 24px;
    color: #4a90e2;
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.skillsSubcategory {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.skillItem {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skillItem img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.skillItem p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.skillItem:hover {
    transform: scale(1.1);
    background-color: blueviolet;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.skillItem:hover p {
    color: #fff;
}
