@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap');

a {
    text-decoration: none;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0 100px;
}

.project {
    padding: 20px 20px 0 20px;
    max-width: 600px;
    transition: opacity 1s ease, transform 1s ease;
    background-color: white;
    border-radius: 15px;
    border: 6px solid #4a90e2;
    overflow: hidden;
    cursor: pointer;
}

.project.inView {
    transform: translateX(0);
}

.projectYear {
    position: absolute;
    top: 5px;
    right: 40px;
    color: blueviolet;
    font-weight: bold;
}

.project:not(.inView) {
    opacity: 0;
    transform: translateX(50px);
}

.projectImage {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.project:hover .projectImage {
    transform: scale(1.05);
}

.projectContent {
    margin: 0 20px;
    padding: 0 10px;
    position: relative;
    color: black;
    background-color: #cacaca;
    border-radius: 10px;
}

.projectContent h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.projectContent p {
    font-size: 1rem;
    color: #404040;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .projectsContainer {
        padding: 1.5rem;
        gap: 1rem;
    }

    .projectContent h2 {
        font-size: 1.2rem;
    }

    .projectContent p {
        font-size: 0.9rem;
    }
}
